@page "/documentation"

<PageTitle>sdmay26-40 - Documentation</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Project Documentation</MudText>

<MudText Typo="Typo.h4" GutterBottom="true">Final Design Document</MudText>
<div class="d-flex justify-center">
    <iframe src="/documentation/designDoc.docx.pdf" style="width: 70%; height: 80vh; border: none;"></iframe>
</div>

<MudDivider Class="my-6" />


<MudText Typo="Typo.h4" GutterBottom="true">Final Presentation Slides</MudText>
<div class="d-flex justify-center">
    <iframe src="/documentation/facultySlides.pdf" style="width: 70%; height: 80vh; border: none;"></iframe>
</div>

<MudDivider Class="my-6" />


<MudText Typo="Typo.h4" GutterBottom="true">Lightning Talk</MudText>
<div class="d-flex justify-center">
    <iframe src="/documentation/lightningTalk.pdf" style="width: 70%; height: 80vh; border: none;"></iframe>
</div>


@code {

}
